[run]
source = app
omit =
    app/__init__.py
    */alembic/*
    app/db/seed.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
